@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url('./img/carrots-food-fresh-616401.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.hidden {
  display: none;
}

/* #singIn-register { */
  /* background-image: url('./img/carrots-food-fresh-616401.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
  /* align-items: center;
  justify-content: center;
  align-self: center; */
/* } */

#singIn, #register{
 
  margin: auto;
  border-radius: 10px; 
  background-color: rgb(255, 255, 255);
}

h2 {
  /* color: #6FAB32; */
  font-weight: bold;
}

.form-control {
  display: inline-block;
  margin: 0 auto;
}

.bg-grey {
  background-color: #E7EAE5;
}

.input-group {
  margin: 0 auto 
}

.form-size, .input-group {
  width: 260px;
  position: inherit;
}

.navbar-dark {
  background-color: #6FAB32;
}

header {
  height: 70px;
  background-color:#6FAB32;
}

.btn-light {
  background-color: rgb(206, 207, 204);
  border-color: rgb(206, 207, 204);
}

#menu-profile {
  display: none;
}

#newAccount-register{
  color: blue;
}

.btn-success {
  background-color: #6FAB32;
  border: #6FAB32
}

.navbar-brand, h1 {
  font-size: 1.9em;
  font-weight: bold;
}

.btn-danger {
  background-color: red;
  border-color: red;
}

.btn-danger:hover {
  background-color: rgb(250, 46, 46);
  border-color: rgb(230, 29, 29);
}

/* #facebook-SignIn {
  background-color: blue;
  width: 15%;
  border-radius: 20px;
} */

textarea {
  resize: none;
} 

.bg-green {
  background-color: rgb(121, 187, 54);
}

@media screen and (min-width: 450px) {

  .form-size, .input-group {
    width: 300px;
    position: inherit;
    /* display: inline-block; */
  }

  #singIn, #register{
    width: 370px;
    /* margin: auto; */
    /* position:relative;
    font-size:10px;
    text-align:center;
    padding:9px;
    padding-top:15px;
    padding-bottom:15px; */
    /* border-radius: 10px; 
    background-color: rgb(255, 254, 254); */
  }
}
